.navFooter {
    background: green;
    display: block;
    margin-top: 20px;
}

.navFooterLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 95vw;
}

h1.h1Titulos {
    color: white;
    margin-top: 10px;
    padding: 0.1rem 1rem;
}

.ulListFooter {
    list-style: none;
}

.divContactenos {
    margin-top: -50px;
}

.imgLogo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.spanLogo {
    font-size: 30px;
    font-weight: bold;
}
span{
    color: white;
}
.spanCopyright{
    margin-right: 10px;
}
.divLink{
    margin-left: 400px;
}