.navFooter {
    background: green;
    display: block;
}

.navFooterLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navFooterTodos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.navFooterLinkRedes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 960px) {
    .navFooterTodos {
        display: grid;
        grid-gap: 50px;
        justify-content: center;
    }
    .divContactenos {
        margin-top: 0px !important;
    }
    .navFooterLinkRedes {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .divLink {
        margin-left: 0px !important;
    }
    h1.h1Titulos {
        font-size: 17px;
        font-weight: 900;
    }
    .spanCopyright{
        font-size: 10px !important;
    }
}

.navLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 97%;
}

h1.h1Titulos {
    color: white;
    margin-top: 10px;
    padding: 0.1rem 1rem;
}

.ulListFooter {
    list-style: none;
}

.divContactenos {
    margin-top: -50px;
}

.imgLogo {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.spanLogo {
    font-size: 30px;
    font-weight: bold;
}

span {
    color: white;
}

.spanCopyright {
    margin-right: 10px;
    font-size: 14px;
}

.divLink {
    margin-left: 400px;
}